In [1]:
import pandas as pd
import numpy as np
from statistics import mean
from scipy import stats #stats.ttest_ind

Table 1 explaining the datasets

Example from caruana:

![image](https://user-images.githubusercontent.com/21044142/111542957-9e101980-872f-11eb-90e5-06b61eefcf97.png)

In [2]:
#[PROBLEM, #ATTR, TRAIN SIZE, TEST SIZE, %POSITIVE]
adult_d = ["ADULT", "14/106", 5000, 27560, "24%"]
letters_d = ["LETTERS.O", "16", 5000, 15000, "4%"]
mushroom_d = ["MUSHROOM", "22/117", 5000, 3123, "52%"]
weather_d = ["WEATHER", "24/95", 5000, 51420, "22%"]

In [3]:
print("Table 1: Description of problems")
problems = [adult_d, letters_d, mushroom_d, weather_d]
columns = ["PROBLEM", "#ATTR", "TRAIN SIZE", "TEST SIZE", "%POS"]
table_1 = pd.DataFrame(data=problems, columns=columns)
print(table_1.to_string(index=False))

Table 1: Description of problems
   PROBLEM   #ATTR  TRAIN SIZE  TEST SIZE %POS
     ADULT  14/106        5000      27560  24%
 LETTERS.O      16        5000      15000   4%
  MUSHROOM  22/117        5000       3123  52%
   WEATHER   24/95        5000      51420  22%

### Second table

Table 2:\
Table 2 giving the mean test set performance across trials for each algorithm/dataset
combo, with separate columns for each metric. There will also be a column for the mean
performance across metrics. This table should be annotated as in CNM06 using
boldface to show the best performing algorithm in each column and * to denote a
non-significant difference between best algo and the others.

Example: ![image](https://user-images.githubusercontent.com/21044142/111548702-517d0c00-8738-11eb-8d15-aac06cdd08d7.png)

In [4]:
#ROW FOR LOGISTIC REG
log_acc_4 = [0.847496,  0.849565,  0.850218,  0.847206,  0.848730,                
             0.962331,  0.963064,  0.962064,  0.961997,  0.962331,                
             1.0,      1.0,      1.0,      1.0,      1.0,
             0.854259,  0.853092,  0.853909,  0.853306,  0.852839]
log_acc = mean(log_acc_4) #mean of logistic acc

log_roc_4 = [0.903878,  0.904139,  0.903968, 0.905178,  0.904846,
            0.858444,  0.859928,  0.857098,  0.862397,  0.853068,
            1.0,     1.0,      1.0,      1.0,      1.0,
            0.884416,  0.884626,  0.885708,  0.884818,  0.883683]
log_roc = mean(log_roc_4) #mean of logistic roc

log_fsc_4 = [0.658619,  0.662414,  0.660714,  0.648858,  0.651101,
            0.000000,  0.000000,  0.000000,  0.000000,  0.000000,
            1.0,      1.0,      1.0,      1.0,      1.0,
            0.624669,  0.620821,  0.620937,  0.616581,  0.623143]
log_fsc = mean(log_fsc_4) #mean of logistic fsc

log_metrics = [log_acc, log_fsc, log_roc]
log_metrics.append(mean(log_metrics))
log_metrics

[0.91612035, 0.56939285, 0.91180975, 0.79910765]

In [5]:
#KNN metrics
knn_acc_4 = [0.837627,  0.836502,  0.836865,  0.833055,  0.836067,
            0.992133,  0.989866,  0.990933,  0.991933,  0.990733,
            1.0, 1.0,      1.0,      1.0,      1.0,
            0.806671  ,0.808401,  0.805970,  0.805115,  0.806826]

knn_roc_4 = [0.889834,  0.888025,  0.890112,  0.887853,  0.887768,
            0.991464,  0.994721,  0.995173,  0.994100,  0.994624,
            1.0,      1.0,      1.0,      1.0,      1.0,
            0.839923,  0.831548,  0.839641, 0.840887,  0.831302]

knn_fsc_4 = [0.635252,  0.628240,  0.617463,  0.632594,  0.632653,
            0.895760,  0.865724,  0.880282,  0.893953,  0.879654,
            1.0,      1.0,      1.0,      1.0,      1.0,
            0.415766,  0.416877,  0.405865,  0.409531,  0.415527]

knn_acc = mean(knn_acc_4)
knn_roc = mean(knn_roc_4)
knn_fsc = mean(knn_fsc_4)

knn_metrics = [knn_acc, knn_fsc, knn_roc]
knn_metrics.append(mean(knn_metrics))
knn_metrics

[0.90843485, 0.73125705, 0.92984875, 0.85651355]

In [6]:
#RF metrics
rf_acc_4 = [0.850689,  0.852721,  0.849746,  0.852068,  0.850798,
           0.988066,  0.987799,  0.987866,  0.985666,  0.988866,
           1.0 ,     1.0,      1.0,      1.0,      1.0,
           0.854045,  0.854259,  0.853656,  0.853948,  0.852606]

rf_roc_4 = [0.903035,  0.901272,  0.902482,  0.901470,  0.901587,
           0.997133,  0.995457,  0.997112,  0.994531,  0.997793,
           1.0,      1.0,      1.0,      1.0,      1.0,
           0.882664,  0.882683,  0.879023,  0.882971,  0.880860]

rf_fsc_4 = [0.657136,  0.669200,  0.657570,  0.664313,  0.661006,
           0.814668,  0.817374,  0.818725,  0.790650,  0.828571,
           1.0,      1.0,      1.0,      1.0,      1.0,
           0.610177,  0.610259,  0.617980,  0.598914,  0.610656]

rf_acc = mean(rf_acc_4)
rf_roc = mean(rf_roc_4)
rf_fsc = mean(rf_fsc_4)

rf_metrics = [rf_acc, rf_fsc, rf_roc]
rf_metrics.append(mean(rf_metrics))
rf_metrics

[0.92313995, 0.77135995, 0.94500365, 0.8798345166666667]

In [7]:
#[MODEL, ACC, FSC, ROC MEAN] #ON TEST SET PERFORMANCE
print("Table 2: Test set performance for each algorithm by metric (average over 4 problems)")
columns = ["MODEL", "ACC", "FSC", "ROC", "MEAN"]

rf = ["RF"] + rf_metrics
knn = ["KNN"] + knn_metrics
lr = ["LR"] + log_metrics

table_2 = pd.DataFrame(data=[rf, knn, lr], columns=columns)
print(table_2.to_string(index=False))

Table 2: Test set performance for each algorithm by metric (average over 4 problems)
MODEL       ACC       FSC       ROC      MEAN
   RF  0.923140  0.771360  0.945004  0.879835
  KNN  0.908435  0.731257  0.929849  0.856514
   LR  0.916120  0.569393  0.911810  0.799108

### table 3

Table 3 giving the mean test set performance across trials for each algorithm/metric
combo. Annotated as Table 2 to show best/non-significant differences from best.

In [8]:
#logistic regression average metrics on each dataset
log_adult = [0.847496,  0.849565,  0.850218,  0.847206,  0.848730,
            0.903878,  0.904139,  0.903968,  0.905178,  0.904846,
            0.658619,  0.662414,  0.660714,  0.648858,  0.651101]
log_letters = [0.962331,  0.963064,  0.962064,  0.961997,  0.962331,
              0.858444,  0.859928,  0.857098,  0.862397,  0.853068,
              0.000000,  0.000000,  0.000000,  0.000000,  0.000000]
log_mush = 1.0
log_weather = [0.854259,  0.853092,  0.853909,  0.853306,  0.852839,
              0.884416,  0.884626,  0.885708,  0.884818,  0.883683,
              0.624669,  0.620821,  0.620937,  0.616581,  0.623143]

log_adult = mean(log_adult)
log_letters = mean(log_letters)
log_weather = mean(log_weather)

log_data = [log_adult, log_letters, log_mush, log_weather]
log_data.append(mean(log_data))
log_data

[0.8031286666666667, 0.6068481333333333, 1.0, 0.7864538, 0.7991076500000001]

In [9]:
#knn average metrics
knn_adult = [0.837627,  0.836502,  0.836865, 0.833055,  0.836067,
             0.889834,  0.888025,  0.890112, 0.887853,  0.887768,
            0.635252,  0.628240,  0.617463,  0.632594,  0.632653]
knn_letters = [0.992133,  0.989866,  0.990933,  0.991933,  0.990733,
                0.991464,  0.994721,  0.995173,  0.994100,  0.994624,
                0.895760,  0.865724, 0.880282,  0.893953,  0.879654]
knn_mush = 1.0
knn_weather = [0.806671,  0.808401,  0.805970,  0.805115, 0.806826,
                0.839923,  0.831548,  0.839641,  0.840887, 0.831302,
                0.415766,  0.416877,  0.405865, 0.409531, 0.415527]

knn_adult = mean(knn_adult)
knn_letters = mean(knn_letters)
knn_weather = mean(knn_weather)

knn_data = [knn_adult, knn_letters, knn_mush, knn_weather]
knn_data.append(mean(knn_data))
knn_data

[0.7846606666666667, 0.9560702, 1.0, 0.6853233333333333, 0.85651355]

In [10]:
#rf average metrics
rf_adult = [0.850689,  0.852721,  0.849746,  0.852068,  0.850798,
             0.903035,  0.901272,  0.902482,  0.901470,  0.901587,
            0.657136,  0.669200,  0.657570,  0.664313,  0.661006]
rf_letters = [0.988066,  0.987799,  0.987866,  0.985666,  0.988866,
            0.997133,  0.995457,  0.997112,  0.994531,  0.997793,
            0.814668,  0.817374,  0.818725,  0.790650,  0.828571]
rf_mush = 1.0
rf_weather = [0.854045,  0.854259,  0.853656,  0.853948,  0.852606,
            0.882664,  0.882683,  0.879023,  0.882971,  0.880860,
            0.610177,  0.610259,  0.617980,  0.598914,  0.610656]

rf_adult = mean(rf_adult)
rf_letters = mean(rf_letters)
rf_weather = mean(rf_weather)

rf_data = [rf_adult, rf_letters, rf_mush, rf_weather]
rf_data.append(mean(rf_data))
rf_data

[0.8050062, 0.9326851333333334, 1.0, 0.7816467333333333, 0.8798345166666667]

In [11]:
#[MODEL,ADULT,LETTER.O,MUSHROOM,WEATHER,MEAN] #ON TEST SET PERFORMANCE
print("Table 3: Performance on each problem  (average over 3 metrics)")
columns = ["MODEL", "ADULT", "LETTER.O", "MUSHROOM", "WEATHER", "MEAN"]

rf_m = ["RF"] + rf_data
knn_m = ["KNN"] + knn_data
lr_m = ["LR"] + log_data

table_3 = pd.DataFrame(data=[rf_m, knn_m, lr_m], columns=columns)
print(table_3.to_string(index=False))

Table 3: Performance on each problem  (average over 3 metrics)
MODEL     ADULT  LETTER.O  MUSHROOM   WEATHER      MEAN
   RF  0.805006  0.932685       1.0  0.781647  0.879835
  KNN  0.784661  0.956070       1.0  0.685323  0.856514
   LR  0.803129  0.606848       1.0  0.786454  0.799108

## Appendix tables

### table 4:

An appendix table showing mean training set performance for the optimal
hyperparameters on each of the dataset/algorithm combos and a discussion of the
difference between each algorithms’ training and test set performance

An appendix table showing mean **training** set performance for the optimal
hyperparameters on each of the dataset/algorithm combos

In [12]:
#same as table 2 but on training set
#ROW FOR LOGISTIC REG
tlog_acc_4 = [0.863600,  0.850200,  0.853400,  0.850000,  0.860200,
             0.962400,  0.960200,  0.963200,  0.963400,  0.962400,
             1.0,      1.0,      1.0,      1.0,      1.0,
             0.864000,  0.865600,  0.855400,  0.853800,  0.861400]
tlog_acc = mean(tlog_acc_4) #mean of logistic acc

tlog_roc_4 = [0.913989,  0.910883,  0.911407,  0.909116,  0.912944,
             0.864321,  0.879413,  0.860877,  0.867247,  0.871137,
             1.0 ,     1.0,      1.0,      1.0,      1.0,
             0.899905,  0.901048,  0.889914,  0.885162,  0.895244]
tlog_roc = mean(tlog_roc_4) #mean of logistic roc

tlog_fsc_4 = [0.673807,  0.669319,  0.666364,  0.666976,  0.671368,
             0.000000,  0.000000,  0.000000,  0.000000,  0.000000,
             1.0,      1.0,      1.0,      1.0,      1.0,
             0.899905,  0.901048,  0.889914,  0.885162,  0.895244]
tlog_fsc = mean(tlog_fsc_4) #mean of logistic fsc

tlog_metrics = [tlog_acc, tlog_fsc, tlog_roc]
tlog_metrics.append(mean(tlog_metrics))
tlog_metrics

[0.91946, 0.64095535, 0.91863035, 0.8263485666666667]

In [13]:
#KNN metrics performance on training set
tknn_acc_4 = [1.000000,    0.847,  1.000000,  0.999800,   0.8488,
               1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,    0.811,      1.0,   0.8134,      1.0]

tknn_roc_4 = [1.000000,    1.000,  1.000000,  0.889163,   1.0000,
              1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,    1.000,      1.0,   1.0000,      1.0]

tknn_fsc_4 = [0.691813,    1.000,  0.684473,  0.681641,   1.0000,
              1.0,      1.0,      1.0,      1.0,     1.0,
             1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,    1.000,      1.0,   1.0000,      1.0]

tknn_acc = mean(tknn_acc_4)
tknn_roc = mean(tknn_roc_4)
tknn_fsc = mean(tknn_fsc_4)

tknn_metrics = [tknn_acc, tknn_fsc, tknn_roc]
tknn_metrics.append(mean(tknn_metrics))
tknn_metrics

[0.966, 0.9528963500000001, 0.99445815, 0.9711181666666667]

In [14]:
#RF metrics on training set
trf_acc_4 = [1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,      1.0,      1.0,      1.0,      1.0,
            1.0,      1.0,      1.0,      1.0,      1.0,
            1.0,      1.0,      1.0,      1.0,      1.0]

trf_roc_4 = [1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,      1.0,      1.0,      1.0,      1.0,
            1.0,      1.0,      1.0,      1.0,      1.0,
            1.0,      1.0,      1.0,      1.0,      1.0]

trf_fsc_4 = [1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,      1.0,      1.0,      1.0,      1.0,
            1.0,      1.0,      1.0,      1.0,      1.0,
            1.0,      1.0,      1.0,      1.0,      1.0]

trf_acc = mean(trf_acc_4)
trf_roc = mean(trf_roc_4)
trf_fsc = mean(trf_fsc_4)

trf_metrics = [trf_acc, trf_fsc, trf_roc]
trf_metrics.append(mean(trf_metrics))
trf_metrics

[1.0, 1.0, 1.0, 1.0]

In [15]:
#[MODEL, ACC, FSC, ROC MEAN] #ON TEST SET PERFORMANCE
print("APPENDIX TABLE 1: Training set performance by metric (average over 4 problems)")
columns = ["MODEL", "ACC", "FSC", "ROC", "MEAN"]

app_rf = ["RF"] + trf_metrics
app_knn = ["KNN"] + tknn_metrics
app_lr = ["LR"] + tlog_metrics

apptable_1 = pd.DataFrame(data=[app_rf, app_knn, app_lr], columns=columns)
print(apptable_1.to_string(index=False))

APPENDIX TABLE 1: Training set performance by metric (average over 4 problems)
MODEL      ACC       FSC       ROC      MEAN
   RF  1.00000  1.000000  1.000000  1.000000
  KNN  0.96600  0.952896  0.994458  0.971118
   LR  0.91946  0.640955  0.918630  0.826349

### apendix table 2 (TABLE 5)

An appendix table with raw test set scores, not just the mean scores of the table

In [16]:
#RAW TEST se SCORES on each metric in each trial, this one first is ACC
log_raw_acc = [0.847496,  0.849565,  0.850218,  0.847206,  0.848730,
              0.962331,  0.963064,  0.962064,  0.961997,  0.962331,
               1.0,      1.0,      1.0,      1.0,      1.0,
               0.854259,  0.853092,  0.853909,  0.853306,  0.852839]

knn_raw_acc = [0.837627,  0.836502,  0.836865,  0.833055,  0.836067,
              0.992133,  0.989866,  0.990933,  0.991933,  0.990733,
              1.0,      1.0,      1.0,      1.0,      1.0,
              0.806671,  0.808401,  0.805970,  0.805115,  0.806826]

rf_raw_acc = [0.850689,  0.852721,  0.849746,  0.852068,  0.850798,
             0.988066,  0.987799,  0.987866,  0.985666,  0.988866,
             1.0,      1.0,      1.0,      1.0,      1.0,
             0.854045,  0.854259,  0.853656,  0.853948,  0.852606]

In [27]:
print("APPENDIX TABLE 2.1: TEST SET RAW SCORES PERFORMACE ON ACCURACY METRIC")
columns = ["MODEL",
          "1ADL", "2ADL", "3ADL", "4ADL", "5ADL",
          "1LET", "2LET", "3LET", "4LET", "5LET",
          "1MUSH", "2MUSH", "3MUSH", "4MUSH", "5MUSH",
          "1WTH", "2WTH","3WTH","4WTH","5WTH"]

acc_rf = ["RF"] + rf_raw_acc
acc_knn = ["KNN"] + knn_raw_acc
acc_lr = ["LR"] + log_raw_acc

apptable_21 = pd.DataFrame(data=[acc_rf, acc_knn, acc_lr], columns=columns)
apptable_21.iloc[:, 0:11]

APPENDIX TABLE 2.1: TEST SET RAW SCORES PERFORMACE ON ACCURACY METRIC

,MODEL,1ADL,2ADL,3ADL,4ADL,5ADL,1LET,2LET,3LET,4LET,5LET
0,RF,0.850689,0.852721,0.849746,0.852068,0.850798,0.988066,0.987799,0.987866,0.985666,0.988866
1,KNN,0.837627,0.836502,0.836865,0.833055,0.836067,0.992133,0.989866,0.990933,0.991933,0.990733
2,LR,0.847496,0.849565,0.850218,0.847206,0.848730,0.962331,0.963064,0.962064,0.961997,0.962331

In [28]:
apptable_21.iloc[:, 11:]

,1MUSH,2MUSH,3MUSH,4MUSH,5MUSH,1WTH,2WTH,3WTH,4WTH,5WTH
0,1.0,1.0,1.0,1.0,1.0,0.854045,0.854259,0.853656,0.853948,0.852606
1,1.0,1.0,1.0,1.0,1.0,0.806671,0.808401,0.805970,0.805115,0.806826
2,1.0,1.0,1.0,1.0,1.0,0.854259,0.853092,0.853909,0.853306,0.852839

In [18]:
#RAW TEST set SCORES on each metric in each trial, this one is for FSC
log_raw_fsc = [0.658619,  0.662414,  0.660714,  0.648858,  0.651101,
              0.000000,  0.000000,  0.000000,  0.000000,  0.000000,
              1.0,      1.0,      1.0,      1.0,      1.0,
               0.624669,  0.620821,  0.620937,  0.616581,  0.623143]

knn_raw_fsc = [0.635252,  0.628240,  0.617463,  0.632594,  0.632653,
              0.895760,  0.865724,  0.880282,  0.893953,  0.879654,
              1.0,      1.0,      1.0,      1.0,      1.0,
               0.415766,  0.416877,  0.405865,  0.409531,  0.415527]

rf_raw_fsc = [0.657136,  0.669200,  0.657570,  0.664313,  0.661006,
             0.814668,  0.817374,  0.818725,  0.790650,  0.828571,
             1.0,      1.0,      1.0,      1.0,     1.0,
              0.610177,  0.610259,  0.617980,  0.598914,  0.610656]

In [29]:
print("APPENDIX TABLE 2.2: TEST SET RAW SCORES PERFORMACE ON F-Score METRIC")
columns = ["MODEL",
          "1ADL", "2ADL", "3ADL", "4ADL", "5ADL",
          "1LET", "2LET", "3LET", "4LET", "5LET",
          "1MUSH", "2MUSH", "3MUSH", "4MUSH", "5MUSH",
          "1WTH", "2WTH","3WTH","4WTH","5WTH"]

fsc_rf = ["RF"] + rf_raw_fsc
fsc_knn = ["KNN"] + knn_raw_fsc
fsc_lr = ["LR"] + log_raw_fsc

apptable_22 = pd.DataFrame(data=[fsc_rf, fsc_knn, fsc_lr], columns=columns)
apptable_22.iloc[:, 0:11]

APPENDIX TABLE 2.2: TEST SET RAW SCORES PERFORMACE ON F-Score METRIC

,MODEL,1ADL,2ADL,3ADL,4ADL,5ADL,1LET,2LET,3LET,4LET,5LET
0,RF,0.657136,0.669200,0.657570,0.664313,0.661006,0.814668,0.817374,0.818725,0.790650,0.828571
1,KNN,0.635252,0.628240,0.617463,0.632594,0.632653,0.895760,0.865724,0.880282,0.893953,0.879654
2,LR,0.658619,0.662414,0.660714,0.648858,0.651101,0.000000,0.000000,0.000000,0.000000,0.000000

In [30]:
apptable_22.iloc[:, 11:]

,1MUSH,2MUSH,3MUSH,4MUSH,5MUSH,1WTH,2WTH,3WTH,4WTH,5WTH
0,1.0,1.0,1.0,1.0,1.0,0.610177,0.610259,0.617980,0.598914,0.610656
1,1.0,1.0,1.0,1.0,1.0,0.415766,0.416877,0.405865,0.409531,0.415527
2,1.0,1.0,1.0,1.0,1.0,0.624669,0.620821,0.620937,0.616581,0.623143

In [20]:
#RAW TEST set SCORES on each metric in each trial, this one is for ROC
log_raw_roc = [0.903878,  0.904139,  0.903968,  0.905178,  0.904846,
              0.858444,  0.859928,  0.857098,  0.862397,  0.853068,
              1.0,      1.0,      1.0,      1.0,      1.0,
              0.884416,  0.884626,  0.885708,  0.884818,  0.883683]

knn_raw_roc = [0.889834,  0.888025,  0.890112,  0.887853,  0.887768,
              0.991464,  0.994721,  0.995173,  0.994100,  0.994624,
              1.0,      1.0,      1.0,      1.0,      1.0,
               0.839923,  0.831548,  0.839641,  0.840887,  0.831302]

rf_raw_roc = [0.903035,  0.901272,  0.902482,  0.901470,  0.901587,
             0.997133,  0.995457,  0.997112,  0.994531,  0.997793,
             1.0,      1.0,      1.0,      1.0,      1.0,
             0.882664,  0.882683,  0.879023,  0.882971,  0.880860]

In [31]:
print("APPENDIX TABLE 2.3: TEST SET RAW SCORES PERFORMACE ON ROC METRIC")
columns = ["MODEL",
          "1ADL", "2ADL", "3ADL", "4ADL", "5ADL",
          "1LET", "2LET", "3LET", "4LET", "5LET",
          "1MUSH", "2MUSH", "3MUSH", "4MUSH", "5MUSH",
          "1WTH", "2WTH","3WTH","4WTH","5WTH"]

roc_rf = ["RF"] + rf_raw_roc
roc_knn = ["KNN"] + knn_raw_roc
roc_lr = ["LR"] + log_raw_roc

apptable_23 = pd.DataFrame(data=[roc_rf, roc_knn, roc_lr], columns=columns)
apptable_23.iloc[:, :11]

APPENDIX TABLE 2.3: TEST SET RAW SCORES PERFORMACE ON ROC METRIC

,MODEL,1ADL,2ADL,3ADL,4ADL,5ADL,1LET,2LET,3LET,4LET,5LET
0,RF,0.903035,0.901272,0.902482,0.901470,0.901587,0.997133,0.995457,0.997112,0.994531,0.997793
1,KNN,0.889834,0.888025,0.890112,0.887853,0.887768,0.991464,0.994721,0.995173,0.994100,0.994624
2,LR,0.903878,0.904139,0.903968,0.905178,0.904846,0.858444,0.859928,0.857098,0.862397,0.853068

In [ ]:
apptable_23.iloc[:, 11:]

### LAST APPENDIX TABLE!!!! T_T

An appendix table with the p-values of the comparisons across algorithms in the different
main matter tables

In [22]:
#random forest accfuracy
rf_raw_acc
knn_raw_acc
log_raw_acc

p_acc_knn = stats.ttest_ind(rf_raw_acc, knn_raw_acc)[1]
p_acc_lr = stats.ttest_ind(rf_raw_acc, log_raw_acc)[1]

p_fsc_knn = stats.ttest_ind(rf_raw_fsc, knn_raw_fsc)[1]
p_fsc_lr = stats.ttest_ind(rf_raw_fsc, log_raw_fsc)[1]

p_roc_knn = stats.ttest_ind(rf_raw_roc, knn_raw_roc)[1]
p_roc_lr = stats.ttest_ind(rf_raw_roc, log_raw_roc)[1]

p_values_2 = [["RF/ACC"]+[p_acc_knn, p_acc_lr], 
              ["RF/FSC"]+[p_fsc_knn, p_fsc_lr], 
              ["RF/ROC"]+[p_roc_knn, p_roc_lr]]

In [23]:
print("APPENDIX TABLE 3.1: P-value for Table 2 (RF compared with KNN/LR)")
columns=["MODEL/METRIC", "p-val KNN", "p-val LR"]

apptable_31 = pd.DataFrame(data=p_values_2, columns=columns)
apptable_31

APPENDIX TABLE 3.1: P-value for Table 2 (RF compared with KNN/LR)

  MODEL/METRIC  p-val KNN  p-val LR
0       RF/ACC   0.573259  0.754419
1       RF/FSC   0.526971  0.030323
2       RF/ROC   0.457459  0.063920

In the table, the algorithm with the best performance
on each metric is boldfaced. Other algorithm’s whose
performance is not statistically distinguishable from
the best algorithm at p = 0.05 using paired t-tests on
the 5 trials are *’ed. Entries in the table that are
neither bold nor starred indicate performance that is
significantly lower than the best models at p = 0.05.3

In [24]:
log_adult = [0.847496,  0.849565,  0.850218,  0.847206,  0.848730,
            0.903878,  0.904139,  0.903968,  0.905178,  0.904846,
            0.658619,  0.662414,  0.660714,  0.648858,  0.651101]
log_letters = [0.962331,  0.963064,  0.962064,  0.961997,  0.962331,
              0.858444,  0.859928,  0.857098,  0.862397,  0.853068,
              0.000000,  0.000000,  0.000000,  0.000000,  0.000000]
log_mush = [1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,      1.0,      1.0,      1.0,      1.0,
            1.0,      1.0,      1.0,      1.0,      1.0]
log_weather = [0.854259,  0.853092,  0.853909,  0.853306,  0.852839,
              0.884416,  0.884626,  0.885708,  0.884818,  0.883683,
              0.624669,  0.620821,  0.620937,  0.616581,  0.623143]

knn_adult = [0.837627,  0.836502,  0.836865, 0.833055,  0.836067,
             0.889834,  0.888025,  0.890112, 0.887853,  0.887768,
            0.635252,  0.628240,  0.617463,  0.632594,  0.632653]
knn_letters = [0.992133,  0.989866,  0.990933,  0.991933,  0.990733,
                0.991464,  0.994721,  0.995173,  0.994100,  0.994624,
                0.895760,  0.865724, 0.880282,  0.893953,  0.879654]
knn_mush = [1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,      1.0,      1.0,      1.0,      1.0,
            1.0,      1.0,      1.0,      1.0,      1.0]
knn_weather = [0.806671,  0.808401,  0.805970,  0.805115, 0.806826,
                0.839923,  0.831548,  0.839641,  0.840887, 0.831302,
                0.415766,  0.416877,  0.405865, 0.409531, 0.415527]

rf_adult = [0.850689,  0.852721,  0.849746,  0.852068,  0.850798,
             0.903035,  0.901272,  0.902482,  0.901470,  0.901587,
            0.657136,  0.669200,  0.657570,  0.664313,  0.661006]
rf_letters = [0.988066,  0.987799,  0.987866,  0.985666,  0.988866,
            0.997133,  0.995457,  0.997112,  0.994531,  0.997793,
            0.814668,  0.817374,  0.818725,  0.790650,  0.828571]
rf_mush = [1.0,      1.0,      1.0,      1.0,      1.0,
             1.0,      1.0,      1.0,      1.0,      1.0,
            1.0,      1.0,      1.0,      1.0,      1.0]
rf_weather = [0.854045,  0.854259,  0.853656,  0.853948,  0.852606,
            0.882664,  0.882683,  0.879023,  0.882971,  0.880860,
            0.610177,  0.610259,  0.617980,  0.598914,  0.610656]

In [25]:
adult_knn = stats.ttest_ind(rf_adult, knn_adult)[1]
adult_lr = stats.ttest_ind(rf_adult, log_adult)[1]

letters_knn = stats.ttest_ind(rf_letters, knn_letters)[1]
letters_lr = stats.ttest_ind(rf_letters, log_letters)[1]

mush_knn = stats.ttest_ind(rf_mush, knn_mush)[1]
mush_lr = stats.ttest_ind(rf_mush, log_mush)[1]

weather_knn = stats.ttest_ind(rf_weather, knn_weather)[1]
weather_lr = stats.ttest_ind(rf_weather, log_weather)[1]

p_value_3 = [["ADULT(KNN)"] + [adult_knn], 
             ["ADULT(LR)"] + [adult_lr], 
             ["LETTERS.O(KNN)"] + [letters_knn], 
             ["LETTERS.O(LR)"] + [letters_lr],
             ["MUSHROOM(KNN)"] + [mush_knn],
             ["MUSHROOM(LR)"] + [mush_lr],
             ["WEATHER(KNN)"] + [weather_knn],
             ["WEATHER(LR)"] + [weather_lr]]
p_value_3

[['ADULT(KNN)', 0.621420836715286],
 ['ADULT(LR)', 0.962548117088441],
 ['LETTERS.O(KNN)', 0.3846779953889695],
 ['LETTERS.O(LR)', 0.00972807689062472],
 ['MUSHROOM(KNN)', nan],
 ['MUSHROOM(LR)', nan],
 ['WEATHER(KNN)', 0.12614739316961557],
 ['WEATHER(LR)', 0.9162883676312776]]

In [26]:
print("APPENDIX TABLE 3.2: P-value for Table 3 (RF compared with other datasets)")

columns=["DATASET(MODEL)", "RF"]

apptable_32 = pd.DataFrame(data=p_value_3, columns=columns)
apptable_32

APPENDIX TABLE 3.2: P-value for Table 3 (RF compared with other datasets)

   DATASET(MODEL)        RF
0      ADULT(KNN)  0.621421
1       ADULT(LR)  0.962548
2  LETTERS.O(KNN)  0.384678
3   LETTERS.O(LR)  0.009728
4   MUSHROOM(KNN)       NaN
5    MUSHROOM(LR)       NaN
6    WEATHER(KNN)  0.126147
7     WEATHER(LR)  0.916288